body {
  font-size: 12px;
  font-family: helvetica, 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.form-select,
.form-control,
.btn {
  font-size: 12px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.cy {
  height: 100%;
  width: 100%;
  display: block;
  background-color: #f8f9fa;
}
.cantitate_articol_antemasuratori {
  width: 50px;
  border: 1px solid #dc3545;
}
.modal-header {
  padding: 5px;
}
#table_menu_content {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  border-radius: 5px;
}

#logo {
  width: 130px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

#progress_bar {
    
}